# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Google Apps Script
# ==========================================
.clasp.json

# ==========================================
# VS Code
# ==========================================
.vscode/*.log

# ==========================================
# Node
# ==========================================
node_modules/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak
*.swp

#=========================================
# clasp credentials
#==========================================
.clasprc.json
